@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --primary-color: #0A1128;
  --white-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html{
  font-size: 62.5%; /*Equivale a 10px*/
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 6rem;
  text-transform: uppercase;
}

h2{
  font-size: 5.5rem;
}

h3{
  font-size: 5rem;
}

h4{
  font-size: 4.5rem;
}

h5{
  font-size: 4rem;
}

h6{
  font-size: 3.5rem;
}

.main-bg{
  background-image: url(../img/background.svg);
  background-position: center center;
  background-size: cover;
  color: var(--white-color);
}

.white-bg{
  background-color: var(--white-color);
}

.main-content{
  max-width: 1200px;
  margin: 0 auto;
}

.section{
  min-height: 100vh;
}